.thread-row {
    background: #f5f5f5;
    border-color: #bce8f1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 30px;
}
.bigger-comment-row {
    font-size: 20px;
    background: #f5f5f5;
    border-color: #bce8f1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 30px;
}
.threadTitle {
    font-size: 35px;
    font-weight: bold;
}
.threadHeader {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.threadContent {
    margin-left: 20px;
}
.commentHeader {
    margin-bottom: 10px;
    font-weight: bold;
}   
.commentContent {
    margin-left: 20px;
}
hr {
    border-color: #c0c0c0;
}